@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");

/* Bootstrap setup */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* variable */
@import "./sass/_variables.scss";
$body-color: #313131;
$body-bg: #f6f9fc;
$nav-link-color: #313131;
/* Bootstrap core */
@import "~bootstrap/scss/bootstrap";

/* Dashboard */
@import "./sass/base";
@import "./sass/navigation";
@import "./sass/components/card";
